// insert style definitions for this component here
.c-typo {
  .c-paragraph {
    font-size: 1.15rem;
  }

  .c-span {
    font-size: 1rem;

    .c-font-large {
      font-size: 1.3rem;
    }

    .c-font-small {
      font-size: 0.9rem;
    }
  }
}