@import '../styles/mixins.scss';

$font-size-title-mod: 2.5 !default;
$font-size-subtitle-mod: 2 !default;
$font-size-blocktitle-mod: 1.75 !default;
$font-size-paragraph-mod: 1.25 !default;

// insert style definitions for this component here
body {
  font-family: 'Open Sans', 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.c-header {
  @include m(0);

  &.c-title {
    @include fontSize($font-size-title-mod);
  }
  
  &.c-subtitle {
    @include fontSize($font-size-subtitle-mod);
  }
  
  &.c-blocktitle {
    @include fontSize($font-size-blocktitle-mod);
  }
}

.c-typo {
  @include baseFont;

  &.c-font-large {
    @include largeFont;
  }

  &.c-font-small {
    @include smallFont;
  }

  &.c-paragraph {
    @include fontSize($font-size-paragraph-mod);
  }
}

.c-accessory {
  @include microFont;
}

.c-label {
  @include fontSize;

  &.c-error {
    color: var(--error);
  }
}