// insert style definitions for this component here
body {
  font-family: 'Open Sans', 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.c-typo {
  font-size: 1.15rem;
  &.c-paragraph {
    font-size: 1.25rem;
  }

  &.c-span {
    .c-font-large {
      font-size: 1.3rem;
    }

    .c-font-small {
      font-size: 0.9rem;
    }
  }
}