@import './variables.scss';
@import './util.scss';
@import './colorTheme.scss';

@each $name, $value in $courner-name-to-color {
  @include fillsAndOutlines($name, $value);
}

.c-interactive {
  cursor: pointer;
}

.c-transition {
  &_quick {
    transition: all 100ms ease-in-out;
  }

  &_medium {
    transition: all 333ms ease-in-out;
  }
}

html, body {
  margin: 0;
  width: 100%;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}