// TODO: text color for each main color
:root {
  --primary-tint-30: hsl(156, 77%, 75%);
  --primary-tint-15: hsl(156, 77%, 60%);
  --primary: hsl(156, 77%, 45%);
  --primary-shade-15: hsl(156, 77%, 30%);
  --primary-shade-30: hsl(156, 77%, 15%);
  --secondary-tint-30: hsl(334, 75%, 88%);
  --secondary-tint-15: hsl(334, 75%, 74%);
  --secondary: hsl(334, 75%, 58%);
  --secondary-shade-15: hsl(334, 75%, 43%);
  --secondary-shade-30: hsl(334, 75%, 28%);
  --gray-tint-30: hsl(0, 0%, 85%);
  --gray-tint-15: hsl(0, 0%, 70%);
  --gray: hsl(0, 0%, 50%);
  --gray-shade-15: hsl(0, 0%, 30%);
  --gray-shade-30: hsl(0, 0%, 15%);
  --info-tint-30: hsl(223, 72%, 80%);
  --info-tint-15: hsl(223, 72%, 65%);
  --info: hsl(223, 72%, 50%);
  --info-shade-15: hsl(223, 72%, 35%);
  --info-shade-30: hsl(223, 72%, 20%);
  --success-tint-30: hsl(120, 71%, 81%);
  --success-tint-15: hsl(120, 71%, 66%);
  --success: hsl(120, 71%, 51%);
  --success-shade-15: hsl(120, 71%, 36%);
  --success-shade-30: hsl(120, 71%, 21%);
  --warning-tint-30: hsl(50, 99%, 90%);
  --warning-tint-15: hsl(50, 99%, 75%);
  --warning: hsl(50, 99%, 60%);
  --warning-shade-15: hsl(50, 99%, 45%);
  --warning-shade-30: hsl(50, 99%, 30%);
  --error-tint-30: hsl(0, 65%, 78%);
  --error-tint-15: hsl(0, 65%, 64%);
  --error: hsl(0, 65%, 48%);
  --error-shade-15: hsl(0, 65%, 34%);
  --error-shade-30: hsl(0, 65%, 18%);
  --text-dark: hsl(240, 100%, 10%);
  --text-light: hsl(0, 0%, 93%);
  --white: white;
}