@import './variables.scss';
@import './util.scss';

$courner-colors: ("primary", "secondary", "gray", "info", "success", "warning", "error");
$courner-name-to-color: (
  "primary": $primary,
  "secondary": $secondary,
  "gray": $gray,
  "success": $success,
  "info": $info,
  "warning": $warn,
  "error": $error,
);

:root {
  @each $color-name in $courner-colors {
    @include tintsAndShades($color-name, map-get($courner-name-to-color, $color-name));
  }
  // Text Colors
  --text-dark: #000035;
  --text-light: #eee;
}
