@mixin corners {
  border-radius: 2px;

  &.c-corner-tr {
    border-top-right-radius: 16px;
  }

  &.c-corner-tl {
    border-top-left-radius: 16px;
  }

  &.c-corner-br {
    border-bottom-right-radius: 16px;
  }

  &.c-corner-bl {
    border-bottom-left-radius: 16px;
  }
}