@import '../styles/mixin.scss';

$breakpoint-upper-mobile: 425px;
$breakpoint-upper-tablet: 900px;
$breakpoint-upper-desktop: 2000px;
$breakpoint-upper-laptop: 1400px;

$input-wrapper-bottom-margin: .25;
$input-wrapper-label-above-mobile-top-margin: .7;
$input-wrapper-label-above-tablet-margin: 1;

.c-input-wrapper {
  display: flex;
  flex-direction: column;

  & > .c-label, .c-input {
    @include m-b($input-wrapper-bottom-margin);
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }
  

  @media screen and (min-width: $breakpoint-upper-mobile) {
    flex-direction: row;

    & > .c-label {
      max-width: 250px;
      flex-grow: 1;

      @include m-t($input-wrapper-label-above-mobile-top-margin);
    }

    &__inner {
      flex-grow: 1;
    }
  }

  @media screen and (min-width: $breakpoint-upper-tablet) {
    & .c-label {
      text-align: end;
      @include m-r($input-wrapper-label-above-tablet-margin);
    }
  }
}