@import '../styles/corner.scss';
@import '../styles/mixins.scss';

$input-padding: .5;

.c-input {
  @include corners;
  @include baseFont;
  @include p($input-padding);
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: var(--gray-tint-15);
  transition: border-color 200ms ease-in-out;

  &.c-error {
    border-color: var(--error);
  }

  &.c-primary {
    &:not(.c-error):focus {
      border-color: var(--primary);
    }
  }
  &.c-secondary {
    &:not(.c-error):focus {
      border-color: var(--secondary);
    }
  }
}