@import '../styles/corner.scss';
@import '../styles/mixins.scss';

$button-medium-padding: 1;
$button-large-padding: 1.5;
$button-small-padding: .5;

.c-button {
  // TODO: needs to be extracted into a variable with calculations (eg space(1))
  @include baseFont;
  cursor: pointer;
  font-weight: bold;
  
  @include corners;
  
  &.c-button-medium {
    @include p($button-medium-padding);
  }

  &.c-button-large {
    @include p($button-large-padding);
    @include largeFont;
  }

  &.c-button-small {
    @include p($button-small-padding);
    @include smallFont;
    font-weight: 500;
  }

  &.c-button-block {
    width: 100%;
  }
}