$base-padding: 1rem !default;
$base-margin: 1rem !default;

@mixin p($modifier: 1) {
  padding: $modifier * $base-padding;
}

@mixin m($modifier: 1) {
  margin: $modifier * $base-margin;
}

@mixin m-t($modifier: 1) {
  margin-top: $modifier * $base-margin;
}

@mixin m-b($modifier: 1) {
  margin-bottom: $modifier * $base-margin;
}

@mixin m-r($modifier: 1) {
  margin-right: $modifier * $base-margin;
}