@import '../styles/corner.scss';

.c-paper {
  @include corners;
  display: inline-block;
  background-color: var(--white);
  padding: 1rem;

  &.c-bordered {
    border: 1px solid var(--gray-tint-30);
  }
}