@import '../styles/corner.scss';
@import '../styles/mixins.scss';

.c-paper {
  @include corners;
  @include p;
  display: inline-block;
  background-color: var(--white);
  transition: box-shadow 250ms ease;

  &.c-bordered {
    outline: 1px solid var(--gray-tint-30);
  }
}