@import '../styles/corner.scss';

.c-input {
  @include corners;
  padding: 0.5rem;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: var(--gray);
  transition: border-color 200ms ease-in-out;

  &.c-error {
    border-color: var(--error);
  }

  &.c-primary {
    &:not(.c-error):focus {
      border-color: var(--primary);
    }
  }
  &.c-secondary {
    &:not(.c-error):focus {
      border-color: var(--secondary);
    }
  }
}